/* Original Bootstrap width utility classes */

/* Width */
.w-25 {
    width: 25%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .w-75 {
    width: 75%;
  }
  
  /* Responsive width */
  @media (min-width: 576px) {
    .w-sm-25 {
      width: 25%;
    }
  
    .w-sm-50 {
      width: 50%;
    }
  
    .w-sm-75 {
      width: 75%;
    }
  }
  
  @media (min-width: 768px) {
    .w-md-25 {
      width: 25%;
    }
  
    .w-md-50 {
      width: 50%;
    }
  
    .w-md-75 {
      width: 75%;
    }
  }
  
  @media (min-width: 992px) {
    .w-lg-25 {
      width: 25%;
    }
  
    .w-lg-50 {
      width: 50%;
    }
  
    .w-lg-75 {
      width: 75%;
    }
  }
  
  @media (min-width: 1200px) {
    .w-xl-25 {
      width: 25%;
    }
  
    .w-xl-50 {
      width: 50%;
    }
  
    .w-xl-75 {
      width: 75%;
    }
  }
  

.navbar, .btn{
    font-size: 1.3rem;
}


.order-button, .form-btn{
    font-size:1rem;
}

.nav-item.active > a{
    color:white;
    font-weight: 500;
}

.flipped-container {
  transform: rotateX(180deg);
  overflow-x: auto;
}

.flipped {
  transform: rotateX(180deg);
}

.button-container-1{
  position:absolute;
  width:calc(100% - 40px);
  display:flex;
  flex-direction: row;
  justify-content: end;
  gap:10px;
  padding:0;
  

  @media (max-width:576px) {
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom:10px;
  }
}

.product-options {
  @media (max-width:992px) {
    min-height:calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    width:100%;
  }
}
